.padding-20 {
    padding: 20px
}

.btn-view-promotion {
    color: #fff;
    background: #d71149;
    margin-top: 10px
}

#sieukhuyenmai .item > .col-md-4 > img, .img-product {
    margin: 0 auto
}

#quytrinh .content-box-title #btn-day.clicked {
    background: linear-gradient(to right, #ab8439, #e4bf57, #ab8439, #e4bf57);
    color: #fff
}

#quytrinh .content-box-title #btn-night.clicked {
    background: #211f1f;
    color: #fff
}

.promoDetail h1 {
    font-size: 2rem !important
}

.btn-addCart {
    border-radius: 5px;
    border: 1px solid #ab8439;
    text-transform: uppercase;
    white-space: normal
}

.img-product {
    width: 100%
}

.price-wrapper {
    background: 0 0 !important;
    position: absolute;
    bottom: 25px;
    text-align: center;
    width: 100%
}

.price-wrapper .price {
    margin-bottom: 5px
}

.promotion-wrapper {
    margin: 0 !important
}

.deadline {
    margin-top: -20px;
    display: grid
}

.promotion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.promotion .promo-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.promotion .promo-head .promo-image {
    width: 40%;
    text-align: center
}

.promotion .promo-head .promo-image img {
    width: 100%;
    margin: 0 auto
}

.promotion .promo-title {
    width: 70%;
    display: flex;
    flex-direction: row;
    background: 0 0 !important
}

.promotion .promo-title .promo-label {
    width: 50%;
    background: #d8114a !important;
    margin-left: 10px;
    padding: 5px;
    border-radius: 40px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    z-index: 2
}

.promotion .promo-content {
    position: relative;
    top: -20px;
    z-index: 1;
    background: linear-gradient(to right, #e6bc70, #ffe3a4, #e6bc70, #ffe3a4, #e6bc70) !important;
    color: #734113;
    padding: 25px 20px 20px;
    border-radius: 20px
}

.promotion .promo-content p {
    margin-bottom: 10px
}

.promotion .promo-content ul {
    list-style: none;
    padding: 0
}

#chitiet-khuyenmai, .footer-content {
    padding-bottom: 50px;
    padding-top: 20px
}

.promotion .promo-content p span {
    color: #d71149;
    font-size: 1.5em
}

.promotion .promo-content li span.phone {
    color: #734113;
    font-size: 1.8em;
    font-weight: 700
}

.promotion .promo-content li:last-child {
    line-height: 12px
}

.price b {
    color: #fc9
}

.special-price {
    font-size: 48px;
    color: #d9b452;
    font-weight: 400
}

.congthucchitiet .video iframe {
    height: 350px
}

.footer-content img {
    margin: 10px 0
}

.text-htp {
    color: #d71149
}

.noidungkhuyenmai h3 {
    font-size: 1.3rem
}

.noidungkhuyenmai p {
    font-size: 15px
}

.dong-chitiet {
    display: grid
}

.dong-chitiet .btn-dong-chitiet {
    background: 0 0;
    font-size: 40px;
    box-shadow: none;
    border-width: 0;
    color: #d71149;
    -webkit-animation: jump 2s ease 0s infinite normal;
    animation: jump 2s ease 0s infinite normal
}

#dathang, #dathang h3, #dathang h4 {
    color: #fff
}

.fb-page {
    width: 100% !important
}

.form-check-label span {
    margin-left: 20px
}

.form-control-sm {
    max-width: 50px;
    margin-left: 10px
}

#dathang {
    background: url(/public/site/clickfunel/images/bg-promotion.jpg) top left no-repeat;
    background-size: cover;
    margin-bottom: 0;
    padding-bottom: 50px !important
}

.product-info-cart h4 {
    font-size: 18px;
    margin-top: 5px
}

#dathang #create-order img, #dathang table tbody tr td img {
    margin: 0 auto
}

#dathang .card-header {
    color: #000
}

.quantity-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.total-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-top: 1px solid #fff
}

.total-wrapper .price {
    color: #d71149
}

#dathang .btn-create-order {
    display: grid
}

.uudai p {
    margin-top: 10px;
    margin-bottom: 2px
}

.thongtinkhachhang {
    margin-top: 9%
}

.product-info-cart {
    margin-top: 5px;
    border: 1px solid #fff
}

@-webkit-keyframes jump {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

@keyframes jump {
    0%, 100%, 20%, 50%, 80% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-20px)
    }
    60% {
        transform: translateY(-15px)
    }
}

@media (max-width: 768px) {
    .content-box.content-style-4 .item {
        background-size: cover
    }

    .promotion-wrapper > div > img {
        width: 50%
    }

    .promotion .promo-content li:last-child {
        line-height: normal
    }

    .promotion .promo-title .promo-label {
        width: 40%;
        padding: 10px
    }

    .promotion .promo-head .promo-image img {
        width: 80%;
        margin: -30px auto 0
    }

    .promoDetail .price {
        margin-top: 0;
        margin-bottom: 0
    }

    .congthucchitiet .video iframe {
        height: 250px
    }

    #dotpha {
        background: #fff
    }
}

.guide > .step-item > .step-content-wrapper > .step-5 > .num:last-child, .guide > .step-item > .step-content-wrapper > .step-number > .num {
    background: linear-gradient(to right, #ab8439, #e4bf57, #ab8439, #e4bf57);
    color: #fff
}

.guide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

#nghesi img{
    max-width: 85%!important;
}

.guide > .step-item {
    width: 15%;
    align-self: flex-start
}

.guide > .step-item > .step-content-wrapper {
    display: flex;
    flex-direction: column
}

.guide > .step-item > .step-content-wrapper > .step-number {
    display: flex;
    justify-content: space-around
}

.guide > .step-item > .step-content-wrapper > .step-number > .num {
    padding: 8px;
    border-radius: 5px
}

.guide > .step-item > .step-content-wrapper > .step-content {
    padding: 0 20px;
    text-align: justify
}

.guide > .step-item > .step-content-wrapper > .step-content > img {
    width: 100%;
    margin: 0 auto
}

.guide > .step-item > .step-content-wrapper > .step-content > h3 {
    color: #d71149;
    font-size: 1.5em;
    margin-bottom: 0;
    text-align: center
}

@media (max-width: 1024px) {
    .guide > .step-item > .step-content-wrapper > .step-content > h3 {
        font-size: 1.2em
    }
    #nghesi .pd-mobile{
        padding-left: 0px!important;
    }
}

@media (max-width: 768px) {
    .guide > .step-item {
        width: 48%
    }
    #nghesi .pd-mobile{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .guide > .step-item > .step-content-wrapper > .step-content > h3 {
        font-size: 1.1em
    }

    #sieukhuyenmai .item > .col-md-4 {
        margin-top: 0
    }

    .promotion .promo-content li:last-child {
        line-height: .5 !important
    }

    .price b {
        font-size: 30px
    }
}

@media (max-width: 667px) {
    #nghesi .pd-mobile{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .guide {
        flex-wrap: wrap;
        justify-content: center
    }

    .guide > .step-item {
        width: 48%
    }

    .guide > .step-item > .step-content-wrapper > .step-content > h3 {
        font-size: 1em
    }

    .promotion .promo-title {
        width: 90% !important
    }

    .promotion .promo-title .promo-label {
        width: 50% !important;
        padding: 0
    }

    #main-menu li a span {
        display: inline-block;
        word-break: unset
    }

    #sieukhuyenmai .item > .col-md-4 {
        margin-bottom: 30px !important;
        margin-top: 0;
        text-align: center
    }

    #sieukhuyenmai .item > .col-md-4 > img {
        width: 50%;
        margin: 0 auto 15%
    }

    .price-wrapper {
        bottom: 0 !important
    }

    #trainghiem .container {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .panel-footer {
        padding: 3px !important
    }

    .award-wrapper .award-item {
        width: 50% !important
    }

    .award-wrapper .award-item h3 {
        font-size: 1.3em
    }
}

@media (max-width: 375px) {
    #nghesi .pd-mobile{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .promoDetail .price, .promoDetail h1 {
        font-size: 20px !important
    }

    .guide {
        flex-direction: column
    }

    .guide > .step-item {
        width: 100%;
        border-width: 0 0 .5px;
        border-style: solid;
        border-color: #212121;
        margin-bottom: 20px
    }

    .guide > .step-item > .step-content-wrapper > .step-content > p {
        padding: 0 30px
    }

    #sieukhuyenmai .item > .col-md-4 > img {
        width: 50%;
        margin: 0 auto
    }

    .award-wrapper .award-item, .promotion .promo-head .promo-image {
        width: 100% !important
    }

    .content-box.content-style-4 .item div .promoDetail {
        padding: 15px
    }

    .tab > ul.nav-tabs {
        position: initial !important
    }

    .tab, .tab .tab-content {
        padding: 3px !important
    }

    .promotion .promo-head {
        flex-direction: column !important
    }

    .promotion .promo-title {
        display: none !important
    }

    .promotion .promo-content li:last-child {
        line-height: 1.5 !important
    }

    .content-box.content-style-4 .item div .promoDetail h1, .content-box.content-style-4 .item div .promoDetail h3 {
        margin-bottom: 0
    }

    .promoDetail p button {
        font-size: 18px
    }

    .special-price {
        font-size: 27px !important;
        color: #d71149 !important
    }

    .promotion .promo-head .promo-image img {
        margin-top: 0
    }

    .congthucchitiet .video iframe {
        height: 200px
    }

    .congthucchitiet img {
        width: 100% !important;
    }
}

.award-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap
}

.award-wrapper > .award-item {
    width: 33.3%;
    padding: 10px
}

.award-wrapper > .award-item img {
    width: 70%;
    margin: 0 auto
}

.award-wrapper > .award-item h3 {
    text-align: center
}

.award-wrapper > .award-item p {
    text-align: justify
}

@media (max-width: 375px) {
    .award-wrapper > .award-item {
        width: 50%;
        padding: 20px
    }
}

#slider {
    padding: 0
}

.carousel-item > div {
    height: 650px;
    line-height: 500px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    background-size: 100%
}

.item-1 {
    background-image: url(/public/site/clickfunel/images/banner/serum-trang-da-sacngockhang-slider-1.jpg)
}

.item-2, .item-3 {
    background-image: url(/public/site/clickfunel/images/banner/serum-trang-da-sacngockhang-slider-2.jpg)
}

.carousel {
    overflow: hidden;
    width: 100%
}

.carousel-container {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 500%;
    transition: transform .3s cubic-bezier(.694, .0482, .335, 1)
}

.carousel-item {
    position: relative;
    float: left;
    width: 20%
}

.carousel-next, .carousel-prev {
    position: absolute;
    top: 50%;
    background-color: #222;
    opacity: .7;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity .3s ease
}

.carousel-prev {
    left: 2%;
    padding-right: 3px
}

.carousel-prev::before {
    content: '\f053';
    font-family: FontAwesome
}

.carousel-next {
    right: 2%;
    padding-left: 3px
}

.carousel-next::before {
    content: '\f054';
    font-family: FontAwesome
}

.carousel-next:hover, .carousel-prev:hover {
    opacity: 1
}

.carousel-pagination {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10
}

.carousel-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #000;
    cursor: pointer;
    margin: 0 7px;
    border-radius: 50%;
    opacity: .5;
    transition-property: transform, opacity, background-color;
    transition-duration: .3s
}

.tab, .tab .nav-tabs li a {
    border: 2px solid #7C4B1A
}

.carousel-bullet:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

.carousel-bullet.active-bullet, .carousel-bullet.active-bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default
}

a:focus, a:hover {
    outline: 0;
    text-decoration: none
}

.tab {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    position: relative
}

.tab > ul.nav-tabs {
    position: absolute;
    top: -25px;
    border: none;
    margin-bottom: 20px
}

.tab .nav-tabs li a {
    padding: 8px 20px;
    margin-right: 5px;
    background: #fff !important;
    font-size: 18px;
    font-weight: 700;
    color: #7C4B1A;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    position: relative
}

.tab .nav-tabs li a:hover, .tab .nav-tabs li.active a {
    color: #7C4B1A;
    background: linear-gradient(to right, #e6bc70, #ffe3a4, #e6bc70, #ffe3a4) !important;
    border: 2px solid #7C4B1A
}

.tab .nav-tabs li a:before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    left: -50%;
    opacity: .3;
    z-index: -1;
    transform: scale(0)
}

.carousel, .carousel-inner {
    position: relative
}

.tab .tab-content {
    padding: 15px 20px;
    background: 0 0;
    font-size: 15px;
    color: #595959;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
    outline-offset: 3px
}

.gal-item a:focus, .modal-open .gal-item button.close:focus {
    outline: 0
}

.tab .tab-content h3 {
    font-size: 18px;
    margin-top: 2px;
    font-weight: 600
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
        margin-bottom: 15px
    }

    .tab .nav-tabs li a:hover:before, .tab .nav-tabs li.active a:before {
        transform: scale(10)
    }
}

.carousel-inner {
    width: 100%;
    overflow: hidden
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    line-height: 1
}

@media all and (transform-3d),(-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .9s ease-in-out;
        -o-transition: -o-transform .9s ease-in-out;
        transition: transform .9s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000
    }

    .carousel-inner > .item.active.right, .carousel-inner > .item.next {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    .carousel-inner > .item.active.left, .carousel-inner > .item.prev {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    .carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block
}

.carousel-inner > .active {
    left: 0
}

.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner > .next {
    left: 100%
}

.carousel-inner > .prev {
    left: -100%
}

.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0
}

.carousel-inner > .active.left {
    left: -100%
}

.carousel-inner > .active.right {
    left: 100%
}

.carousel-control.rightar {
    right: 0;
    left: auto;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x
}

.media-carousel .carousel-control.right, .media-carousel .carousel-control.rightar {
    right: -12px !important;
    background: 0 0;
    border: 4px solid transparent
}

.media-carousel {
    margin-bottom: 0
}

.media-carousel .carousel-control.left {
    left: -12px;
    background: #a2ab58;
    border: 4px solid #FFF;
    border-radius: 23px;
    height: 40px;
    width: 40px;
    margin-top: 50px
}

.media-carousel .carousel-control.leftar, .media-carousel .carousel-control.rightar {
    height: 40px;
    width: 40px;
    margin-top: 12%
}

.media-carousel .carousel-control.leftar {
    left: -12px !important;
    background: 0 0;
    border: 4px solid transparent
}

.media-carousel .carousel-control.right {
    height: 120px;
    width: 120px;
    margin-top: 80px
}

.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0;
    margin-right: -19px
}

.media-carousel .carousel-indicators li {
    background: silver
}

.media-carousel .carousel-indicators .active {
    background: #333
}

.media-carousel img {
    width: 100%;
    height: 100%
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
    opacity: 0
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.carousel-fade .carousel-control {
    z-index: 2
}

.testimonial {
    background-color: transparent;
    color: #000
}

.testimonial-heading {
    color: #000;
    text-align: center;
    text-decoration: none
}

.gal-container {
    padding: 12px
}

.gal-item {
    overflow: hidden;
    padding: 3px
}

.gal-item .box {
    height: 350px;
    overflow: hidden
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover
}

.gal-item a:after {
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, .75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s
}

.gal-item a:hover:after {
    opacity: 1
}

.modal-open .gal-container .modal {
    background-color: rgba(0, 0, 0, .4)
}

.modal-open .gal-item .modal-body {
    padding: 0
}

.modal-open .gal-item button.close {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .35);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .35)
}

.modal-open .gal-item button.close span {
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow: none
}

.gal-container .modal-dialogue {
    width: 80%
}

.gal-container .description {
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: left
}

.gal-container .description h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px
}

.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    -ms-transform: scale(.1);
    transform: scale(.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1
}

@media (min-width: 768px) {
    .gal-container .modal-dialog {
        width: 55%;
        margin: 50 auto
    }
}

.slick, .test-vid {
    width: 100%
}

@media (max-width: 768px) {
    .gal-container .modal-content {
        height: 250px
    }
}

i.red {
    color: #BC0213
}

.gal-container {
    padding-top: 75px;
    padding-bottom: 75px
}

footer {
    font-family: Quicksand, sans-serif
}

footer a, footer a:hover {
    color: #88C425
}

.test-vid {
    height: auto
}

.panel-footer-txt > p {
    color: #734113;
    padding-top: 5px
}

#danhgia, .slick-item {
    padding: 10px
}

.panel-footer {
    background: linear-gradient(to right, #e6bc70, #ffe3a4, #e6bc70, #ffe3a4, #e6bc70) !important
}

.panel-footer-txt > p:hover {
    color: #a2ab58
}

.checked {
    color: orange
}

#carousel-review > .carousel-control.left, #carousel-review > .carousel-control.right {
    background-image: none
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #E9C177
}

.media-object.img-rounded {
    margin: 0 auto
}

.caption p {
    margin-bottom: 5px;
    text-align: justify
}

.caption .position {
    margin-bottom: -5px;
    text-align: center
}

.slick-next:before, .slick-prev:before {
    color: #CB901F
}

.slick-item .thumbnail {
    border: 0;
    box-shadow: none;
    padding: 20px 10px 5px;
    border-radius: 20px
}

.slick-item .thumbnail img {
    width: 35%
}

.slick-item .thumbnail .caption {
    padding: 20px;
    text-align: center
}

@media (max-width: 480px) {
    .slick-item .thumbnail img {
        width: 35%
    }

    .slick-item .thumbnail .caption {
        padding: 0
    }

    .media-carousel .carousel-indicators {
        margin-right: 0
    }

    .btn-addCart {
        padding: 8px 10px
    }

    a.btn.btn-primary.btn-lg {
        font-size: 15px !important
    }
}

.top-menu {
    margin-bottom: 0;
    padding: 0
}

.loading-bg {
    background: #fff;
    opacity: .3
}

.loading-wrapper {
    z-index: 9;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%
}

.bouncing-loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.bouncing-loader__round {
    width: 20px;
    height: 20px;
    background-color: #ab8439;
    border-radius: 50%;
    -webkit-animation: bounce .6s infinite alternate;
    animation: bounce .6s infinite alternate
}

.bouncing-loader__round:not(:first-child) {
    margin-left: 10px
}

.bouncing-loader__round:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.bouncing-loader__round:nth-child(3) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

@-webkit-keyframes bounce {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: .5;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes bounce {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: .5;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

.product-detail > h4 {
    font-size: 1.3em !important;
}

.mg-20 {
    margin: 20px 0;
}

.mg-degree {
    margin-top: -60px;
}

.img-nha-may-2 {
    width: 94%;
    margin: 0 auto;
}

.pos-relative {
    position: relative !important;
}

.big-size {
    font-size: 55px;
}

.p-a-0-5 {
    padding: 0.5rem;
}

.light-box:hover {
    box-shadow: 0px 15px 20px gold;
    color: #fff;
}

.transform-style-1:hover {
    /*box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);*/
    -webkit-transform: scale(1.014);
    transform: scale(1.08);
    transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition-property: box-shadow, transform, -webkit-transform;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
}

#khuyenmai:hover .header-move,
#dotpha:hover .header-move {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 4s steps(80, end);
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes animtext {
    from {
        width: 0;
        transition: all 2s ease-in-out;
    }
}

.box-shadow-2:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.font-medium {
    font-size: 30px;
}

.font-25 {
    font-size: 25px;
}

.pri-text {
    color: rgb(215, 18, 73);
    font-weight: bold;
}

.pri-border {
    border: 2px solid rgb(215, 18, 73);
    border-radius: 10px;
}

.img-customer {
    position: absolute;
    top: -60px;
    left: 34%;
}

.p-t-4 {
    padding-top: 4rem !important;
}

.slick-list {
    padding-top: 70px !important;
}

.thin-border {
    border: 1px solid rgb(215, 18, 73) !important;
}

.pri-background {
    border: 2px solid rgb(215, 18, 73);
    border-radius: 10px;
    background: rgb(215, 18, 73);
}

.pink-background {
    /*border: 2px solid rgb( 215, 18, 73 );*/
    background: rgb(215, 18, 73);
}

.min-text {
    min-height: 240px;
}

.txt-white {
    color: white !important;
}

#chuyengia .card {
    border: none;
}

.color-yellow {
    color: #fff200;
}

.border-dash {
    border: 2px dashed white;
}

.boder-ul {
    border-left: 2px solid white;
    list-style-type: none;
}

.center-text {
    margin: 0 auto;
}

.rectage-left {
    position: absolute;
    bottom: 0;
    left: -80px;
    max-width: 20%
}

.rectage-right {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
}

.box-store {
    display: flex;
    align-items: center;
    justify-content: center;
}

#trainghiem .slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}

.pd-store {
    padding: 2rem !important;
}

.slick-dots {
    display: none !important;
}

.resize-img {
    width: 50%;
    margin: 0;
    float: right;
}

.align-mid {
    margin: auto 0;
}

.img-hang-viet-nam {
    margin: 0 auto;
    width: 40%;
}

.btn-full-width {
    width: 100%;
    font-weight: bold;
    font-size: 22px;
}

#danhhieu .card {
    border: none;
}

.shadow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}
.box-shadow-3:hover{
    box-shadow: 0px 30px 40px 0px rgba(0,0,0,0.2);
    transform: translateY(-6px);
}

.h-150 {
    height: 150px;
}

.third-background {
    background-color: #fffbcc;
}

.txt-award {
    width: 80%;
    margin: auto;
}

.second-background {
    background-color: #b37600 !important;
}

.font-small {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.youtube {
    margin-bottom: 0 !important;
}

.font-big {
    font-size: 45px
}

.txt-dotpha {
    float: left;
}

.no-padding {
    padding: 0px !important;
}

#promotion-content {
    margin-top: 10px;
    background-color: rgba(46, 24, 0, 0.5);
    padding: 7px 15px;
}

.pd-store {
    padding: 1rem !important;
}

#promotion-content > h3 {
    font-size: 1.3em;
}

#promotion-content > p {
    margin-bottom: 0px !important;
}

#promotion-content a {
    color: #d71149;
}

#countdown {
    text-align: center;
    font-weight: bold;
}

#countdown h5 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8em;
}

#countdown ul {
    padding: 0px;
}

#khuyenmai-remain #countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    min-width: 15%;
    max-width: 21%;
    margin: 0 25px;
    float: left;
}
#order #countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    min-width: 10%;
    max-width: 21%;
    margin: 0 12px;
    float: left;
}
.cart-view .col-xs-12{
    border: #dadde1 1px solid;
    border-radius: 20px;
    padding: 10px;
}

.justi-content{
    justify-content: center;
}
#countdown li span {
    display: block;
    font-size: 2.5rem;
    color: #fff;
}

.w-50 {
    width: 50% !important;
}

.w-25 {
    width: 25% !important;
}

#countdown.count2 h5 {
    color: #595959;
}

#countdown.count2 li {
    font-size: 1.0em;
    border: 1px solid #595959;
}

#khuyenmai h1{
    max-width: 100% !important;
}

/*add 4/11/2020*/
.shape{
    border-style: solid; border-width: 0 90px 40px 0; float:right; height: 0px; width: 0px;
    -ms-transform:rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    transform:rotate(360deg);
}
.offer{
    background:#fff; border:3px solid #ddd; box-shadow: -11px 11px 20px rgba(0, 0, 0, 0.2); margin: 20px 0; overflow:hidden;
}

.shape {
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
    border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
    border-color: transparent #d9534f transparent transparent;
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
    border-color: transparent #5cb85c transparent transparent;
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
    border-color: transparent #999999 transparent transparent;
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
    border-color: transparent #428bca transparent transparent;
}
.offer-info {	border-color: #5bc0de; }
.offer-info .shape{
    border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
    border-color: transparent #f0ad4e transparent transparent;
}
/*.offer-snk {	border-color: rgb(215, 18, 73); }*/
.offer-snk .shape{
    border-color: transparent rgb(215, 18, 73) transparent transparent;
}
.shape-text{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -41px;
    top: -2px;
    white-space: nowrap;
    -ms-transform: rotate(30deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(26deg);
}
.offer-content{
    padding: 20px 10px;
}
header{
    position: fixed;!important;
}
.section{
    padding: 2em 0;
}
.hv-scale:hover{
    transform: scale(1.05);
}

.pricing-card {
    flex-direction: column;
    min-width: 0;
    color: #000;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #fff;
    border-radius: 6px;
    -webkit-box-shadow: -5px 6px 12px 2px rgb(161, 163, 164);
    -moz-box-shadow: -5px 6px 12px 2px rgb(161, 163, 164);
    box-shadow: -5px 6px 12px 2px rgb(161, 163, 164);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #314666 !important;
    border-color: #314666 !important
}


/*mobile css*/
@media (max-width: 480px) {
    .form-order-wrapper {
        padding: 2px !important;
    }
    #khuyenmai img{
        max-width: 80%;
    }
    #khuyenmai:hover
    {
        transform: unset;
    }

    #popmua {
        display: none;
    }

    .font-small {
        font-size: 1.1rem;
    }

    .txt-dotpha {
        float: unset !important;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .font-big {
        font-size: 28px;
    }

    .big-size {
        font-size: 40px;
    }

    #thanhphan h1 > img {
        font-size: 22px;
        width: 12%;
    }

    .img-hang-viet-nam {
        width: 100%;
    }

    .font-25 {
        font-size: 23px;
    }

    .font-small {
        font-size: 16px !important;
    }

    #nhamayhiendai img {
        margin-top: 5px;
    }

    #nhamayhiendai .pos-relative {
        margin-top: 20px;
    }

    #countdown li {
        margin: 0 3px !important;
    }

    #dotpha img {
        margin: 0 auto;
        width: 50%;
    }

    #khuyenmai img {
        width: 70%;
    }

    #img-serum {
        width: 70% !important;
        margin: 0 auto !important;
    }

    #chuyengia .chuyengia-1 {
        width: 70%;
    }

    .slick button {
        display: none !important;
    }

    .txt-snk {
        display: inherit !important;
    }

    #dotpha h1 {
        text-align: center;
    }

    .txt-biquyet {
        margin-left: 5px !important;
    }

    .congthucchitiet .p-a-1 {
        padding-top: 0px !important;
    }

    .txt-limit-coupon {
        font-size: 1rem !important;
    }
    .text-left-mobile{
        text-align: left!important;
    }
    .mb-left{
        float: left;
    }
    .thaydoi h1{
        text-align: center;
    }
    .daxau img{
        display: block;
        margin: 0 auto;
    }
    .info-product{
        padding: 30px;
        border: 2px solid white;
        font-size: 20px
    }
    text-justify-mobile{
        text-align: justify;
    }
    .hv-scale:hover {
        transform: unset;
    }
    .title-mobile-2{
        display: block;
    }
    .title-mobile-2{
        display: none;
    }
    #bs1{
        display: none;
    }
    ul li, ol li {
        font-size: 16px!important;
    }
    .img-certificate{
        width: 100% !important;
    }
    .img-lotrinh{
        display: none!important;
    }

    .txt-award{
        display: none;
    }
    #danhhieu .box-shadow-3{
        padding: 0 20px;
    }
    #congdongviet{
        display: none;
    }
}

/*tablet css*/
@media screen and (max-width: 680px) {
    .info-product{
        padding: 30px;
        border: 2px solid white;
        font-size: 20px
    }
    .daxau img{
        display: block;
        margin: 0 auto;
    }
    .thaydoi h1{
        text-align: center;
    }
    .pd-store {
        padding: 1rem !important;
    }

    #khuyenmai:hover
    {
        transform: unset;
    }

    #popmua {
        display: none;
    }

    #countdown li {
        font-size: 1.5em;
        padding: 0.3em;
    }

    #countdown li span {
        font-size: 2.5rem;
    }

    #countdown.count2 li {
        font-size: 1em;
    }

    .remove-item {
        margin-bottom: 16px;
    }

    .remove-item span {
        display: none;
    }

    .product-detail h4 {
        font-size: 0.9em !important;
    }

    .mg-degree {
        margin-top: -20px;
    }

    /**/
    .form-order-wrapper {
        padding: 2px !important;
    }

    #popmua {
        display: none;
    }

    .font-small {
        font-size: 1.1rem;
    }

    .txt-dotpha {
        float: unset !important;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .font-big {
        font-size: 28px;
    }

    .big-size {
        font-size: 40px;
    }

    #thanhphan h1 > img {
        font-size: 22px;
        width: 12%;
    }

    .img-hang-viet-nam {
        width: 100%;
    }

    .font-25 {
        font-size: 23px;
    }

    .font-small {
        font-size: 16px !important;
    }

    #nhamayhiendai img {
        margin-top: 5px;
    }

    #nhamayhiendai .pos-relative {
        margin-top: 20px;
    }

    #countdown li {
        margin: 0 3px !important;
    }

    #dotpha img {
        margin: 0 auto;
        width: 50%;
    }

    #khuyenmai img {
        width: 70%;
    }

    .font-20{
        font-size: 18px;
    }

    #img-serum {
        width: 70% !important;
        margin: 0 auto !important;
    }

    #chuyengia .chuyengia-1 {
        width: 70%;
    }

    .slick button {
        display: none !important;
    }

    .txt-snk {
        display: inherit !important;
    }

    #dotpha h1 {
        text-align: center;
    }

    .txt-biquyet {
        margin-left: 5px !important;
    }

    .congthucchitiet .p-a-1 {
        padding-top: 0px !important;
    }

    .txt-limit-coupon {
        font-size: 1rem !important;
    }
    .mb-left{
        float: left;
    }
    text-justify-mobile{
        text-align: justify;
    }
    .hv-scale:hover {
        transform: unset;
    }
    .title-mobile-2{
        display: block;
    }
    .title-mobile-2{
        display: none;
    }
    #bs1{
        display: none;
    }
    ul li, ol li {
        font-size: 16px!important;
    }
    .img-certificate{
        width: 100%!important;
    }
    .img-lotrinh{
        display: none!important;
    }
    .txt-award{
        display: none;
    }
    #danhhieu .box-shadow-3{
        padding: 0 20px;
    }
    #congdongviet{
        display: none;
    }
}
@media (max-width: 1024px) {
    .price-wrapper {
        bottom: 30px
    }
    #khuyenmai:hover
    {
        transform: unset;
    }
    #khuyenmai img{
        max-width: 80%;
    }

    .promotion .promo-head .promo-image {
        width: 50%
    }

    .promotion .promo-title {
        width: 80%
    }

    .youtube{
        margin-top: 20px;
    }
    #img-nha-may-1{
        width: 100%;
    }

    #img-nha-may-2{
        width: 100%;
    }

    #countdown li span{
        padding: 10px;
    }

    #countdown li{
        margin: 0 5px!important;
    }

    #nghesi .padding-20{
        padding: 20px 0!important;
    }
    .big-size{
        font-size: 40px!important;
    }
    h1{
         font-size: 1.9rem;
     }
    h2{
        font-size: 1.6rem;
    }
    h4{
        font-size: 1.2rem;
    }

    #khuyenmai img{
        width: 100%;
        margin: auto;
    }
    #khuyenmai .padding-20{
        margin: 20px 0;
    }
    .font-big{
        font-size: 37px;
    }
    #img-qui-trinh{
        width: 15%;
    }
    p{
        font-size: 1.1rem;
    }
    #txt-noitroi{
        display: inherit;
    }
    #dotpha h1{
        text-align: center;
    }
    .hv-scale:hover {
        transform: unset;
    }
    .title-mobile-2{
        display: block;
    }
    .title-mobile-2{
        display: none;
    }
    #bs1{
        display: none;
    }
    ul li, ol li {
        font-size: 16px!important;
    }
    .img-certificate{
        width: 100% !important;

    }
    .img-lotrinh{
        display: none!important;
    }
    .txt-award{
        display: none;
    }
    #danhhieu .box-shadow-3{
        padding: 0 20px;
    }
    #congdongviet{
        display: none;
    }
}

.info-product{
    padding: 30px 70px;
    border: 2px solid white;
    font-size: 20px
}
.title-mobile-2{
    display: none;
}
.title-mobile-2{
    display: block;
}
.fb-root iframe{
    height: 450px!important;
}
body{
    font-family: system-ui,Inter,Arial,sans-serif,"Open Sans","Helvatica Neue";
}
@font-face {
    font-family: system-ui,Inter,Arial,sans-serif,"Open Sans","Helvatica Neue";
}

p{
    font-family: system-ui,Inter,sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #0d2547;
    font-size: 16px;
    line-height: 1.75em;
}
body .container{
    max-width: 800px!important;
}
header .container, footer .container{
    max-width: unset!important;
}
ul li, ol li {
    margin: 0.5rem;
    color: #0d2547;
    font-size: 18px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #073763!important;
    font-weight: 800;
}
.btn-advice{
    padding: 15px 30px;
}
#khuyenmai-remain .container {
    max-width: 1140px!important;
}
#img-km{
    float: right;
    max-height: 400px;
}
#nhamayhiendai .container{
    max-width: unset!important;
}
#nghesi .container{
    max-width: unset!important;
}
.img-certificate{width: 70%}

.pd-section{
    padding: 2rem 0;
}
/*#order .container{*/
/*    max-width: unset!important;*/
/*}*/
.question-item li
{
    font-size: 16px!important;
}
.header{
    z-index: 10!important;
}
.info-company{
    padding: 20px;
    border: 1px #5bc0de dotted;
    background-color: #68dde63b;
    border-radius: 20px;
}

.btn-primary {
    color: #fff!important;
    border-color: #fff!important;
    box-shadow: 0 0 10px #b37a99!important;
    background: #d9534f!important;
}
.btn-primary:hover {
    color: #d9534f!important;
    border-color: #fff!important;
    box-shadow: 0 0 10px #b37a99!important;
    background: #fff!important;
}

/*new*/

section.pricing {
    background: #fffbcc;
    padding: 50px 0px;
}

.pricing .card {
    /*border: none;*/
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ab8439;
}

.pricing .card .card-body {
    padding: 15px;
}
.pricing .card .card-body h3 {
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.3rem;
}
.pricing .card .card-body .card-image {
    text-align: center;
    margin-bottom: 10px;
}
.pricing .card .card-body .card-image img {
    width: 80%;
    margin: 0px auto;
}

.pricing .card .card-body .bonus-content {
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

.pricing .plus-wrapper .card .card-body h3 {
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.3rem;
}
.pricing .plus-wrapper .card .card-body .card-image img {
    width: 100%;
    margin: 0px auto;
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-body-title .content-box-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.pricing .card-body-title .content-box-title span {
    display: block;
    color: #d71149;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 2rem;
    margin: 0;
    color: #d71149;
}

.pricing .card-price .period {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: #404040;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.8;
    transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

/**
            Popup stimulate buy
             */
#popmua {
    display: -webkit-flex;
    display: flex;
    width: 600px;
    background: #fff;
    color: #000;
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 10px;
    left: -600px;
    z-index: 9999;
}

#popmua > .popimg {
    width: 25%;
    text-align: right;
    padding-right: 15px;
}
#popmua > .popimg > img { width: 80%;}

#popmua > .popmsg > .proname {
    font-weight: bold;
    text-transform: uppercase;
}

#popmua > .popmsg > .poptime {
    font-size: 15px;
    font-style: italic;
    display: block;
}
.popanimation {
    animation-name: popup;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes popup {
    0% {
        opacity: 0;
        left: -400px; }
    5% {
        opacity: 1;
        left: 0; }
    95% {
        opacity: 1;
        left: 0; }
    100% {
        opacity: 0;
        left: -400px; }
}
@media (max-width: 768px) {
    #popmua {
        width: 400px;
        left: -400px;
    }
}
@media (max-width: 480px) {
    #popmua {
        width: 350px;
        left: -350px;
    }
    #popmua > .popimg {
        width: 50%;
        padding-right: 10px;
    }
    #popmua > .popimg > img { width: 100%;}
}
.view-page {    position: fixed;
    width: 120px;
    left: 0px;
    padding: 5px;
    bottom: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
.view-page span {font-weight: bold;}
