.padding-20 {
    padding: 20px;
}
.btn-view-promotion {
  color: #fff;
  background: #d71149;
  margin-top: 10px;
}
#quytrinh .content-box-title #btn-day.clicked {
    background: linear-gradient(to right, #ab8439 , #e4bf57, #ab8439 , #e4bf57);
    color: #fff;
}

#quytrinh .content-box-title #btn-night.clicked {
    background: #211f1f;
    color: #fff;
}

#sieukhuyenmai .item > .col-md-4 > img { 
    margin: 0px auto 0% auto;
}
.promoDetail h1 {
  font-size: 2rem !important;
}

.btn-addCart {
  border-radius: 5px;
  border: 1px solid #ab8439;
  text-transform: uppercase;
  white-space: normal;
}
.img-product {
  width: 100%;
  margin: 0px auto;
}
.price-wrapper {
  background: transparent !important;
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
}
.price-wrapper .price {
  margin-bottom: 5px;
}
.promotion-wrapper {
  margin: 0px !important;
}
.deadline {margin-top: -20px; display: grid;}
.promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*position: relative;*/
  /*margin-top: 30px;*/
}
.promotion .promo-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.promotion .promo-head .promo-image {
  width: 40%;
  text-align: center;
}
.promotion .promo-head .promo-image img {
  width: 100%;
  margin: 0px auto;
}
.promotion .promo-title {
  width: 70%;
  display: flex;
  flex-direction: row;
  background: transparent !important;
}
.promotion .promo-title .promo-label {
  width: 50%;
  background: #d8114a !important;
  margin-left: 10px;
  padding: 5px;
  border-radius: 40px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 2;
}
.promotion .promo-content {
  position: relative;
  top: -20px; 
  z-index: 1;
  background: linear-gradient(to right, #e6bc70 , #ffe3a4,  #e6bc70, #ffe3a4, #e6bc70) !important;
  color: #734113;
  padding: 25px 20px 20px 20px;
  border-radius: 20px;
}
.promotion .promo-content p{
  margin-bottom: 10px; 
}
.promotion .promo-content ul {
  list-style: none;
  padding: 0px;
}
.promotion .promo-content p span {
  color: #d71149;
  font-size: 1.5em;
}
.promotion .promo-content li span.phone {
  color: #734113;
  font-size: 1.8em;
  font-weight: bold;
}
.promotion .promo-content li:last-child {
  line-height: 12px;
}

.price b{color:#ffcc99;}
.special-price {
  font-size: 48px;color: #d9b452;font-weight: normal;  
}
.congthucchitiet .video iframe {
  height: 350px;
}
.footer-content {
  padding: 20px;
}
.footer-content img { margin: 10px 0px; }
.text-htp {
  color: #d71149;
}
#chitiet-khuyenmai {
  padding: 20px;
}
.noidungkhuyenmai h3 {
  font-size: 1.3rem;
}

.noidungkhuyenmai p{
  font-size: 15px;
}

.dong-chitiet {
  display: grid;
}

.dong-chitiet .btn-dong-chitiet {
  background: transparent;
  font-size: 40px;
  box-shadow: none;
  border-width: 0px;
  color: #d71149;

  -webkit-animation: jump 2s ease 0s infinite normal ;
  animation: jump 2s ease 0s infinite normal ;
}

.fb-page { width: 100% !important; }

.form-check-label span {
  margin-left: 20px;
}

.form-control-sm {max-width: 50px; margin-left: 10px;}

#dathang {
  background: url(/public/site/clickfunel/images/bg-promotion.jpg) top left no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 0px;
  padding-bottom: 50px !important;
}

#dathang h3, #dathang h4{
  color: #fff;
}

.product-info-cart h4 {
  font-size: 18px;
  margin-top: 5px;
}


#dathang table tbody tr td img {
  margin: 0px auto;
}

#dathang .card-header {
  color: #000;
}

.quantity-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.total-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-top: 1px solid #fff;
}

.total-wrapper .price {
  color: #d71149;
}

#dathang .btn-create-order {display: grid;}

#dathang #create-order img {
  margin: 0px auto;
}

.uudai p {
  margin-top: 10px;
  margin-bottom: 2px;
}

.thongtinkhachhang {
  margin-top: 5px;
}

.product-info-cart {
  margin-top: 5px;
  border: 1px solid #fff;
}

@-webkit-keyframes jump {
  0%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  20%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  40%{
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  }
  50%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  60%{
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  }
  80%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
}

@keyframes jump {
  0%{
  transform: translateY(0);
  }
  20%{
  transform: translateY(0);
  }
  40%{
  transform: translateY(-20px);
  }
  50%{
  transform: translateY(0);
  }
  60%{
  transform: translateY(-15px);
  }
  80%{
  transform: translateY(0);
  }
  100%{
  transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .price-wrapper {
    bottom: 30px;
  }
  .promotion .promo-head .promo-image {
    width: 50%;
  }
  .promotion .promo-title {
    width: 80%; 
  }
}
@media (max-width: 768px) {
  .content-box.content-style-4 .item { 
    background-size: cover;
  }
  .promotion-wrapper > div > img {
    width: 50%;
  }
  .promotion .promo-content li:last-child {
    line-height: normal;
  }
  .promotion .promo-title .promo-label {
    width: 40%;
    padding: 10px;
  }
  .promotion .promo-head .promo-image img {
      width: 80%;
      margin: -30px auto 0px auto;
  }
  .promoDetail .price {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .congthucchitiet .video iframe {
    height: 250px;
  }
  
  #dotpha {
    background: #fff;
  }
} 

.guide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.guide > .step-item {
    width: 20%;
    align-self: flex-start;
}
.guide > .step-item > .step-content-wrapper {
    display: flex;
    flex-direction: column;
}
.guide > .step-item > .step-content-wrapper > .step-number{
    display: flex;
    justify-content: space-around;
}
.guide > .step-item > .step-content-wrapper > .step-number > .num { 
    background: linear-gradient(to right, #ab8439 , #e4bf57, #ab8439 , #e4bf57);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}
/*.guide > .step-item > .step-content-wrapper > .step-number > .num:last-child { 
    background: #e8eaeb;
    color: #211f1f;
}*/
.guide > .step-item > .step-content-wrapper > .step-5 > .num:last-child { 
    background: linear-gradient(to right, #ab8439 , #e4bf57, #ab8439 , #e4bf57);
    color: #fff;
}
.guide > .step-item > .step-content-wrapper > .step-content {
    padding: 0px 20px;
    text-align: justify;
}
.guide > .step-item > .step-content-wrapper > .step-content > img {
    width: 100%;
    margin: 0px auto;
}
.guide > .step-item > .step-content-wrapper > .step-content > h3 {
    color: #d71149;
    font-size: 1.5em;
    margin-bottom: 0px;
    text-align: center;
}

@media (max-width: 1024px) {
    .guide > .step-item > .step-content-wrapper > .step-content > h3 {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .guide > .step-item {
        width: 48%;
    }
    .guide > .step-item > .step-content-wrapper > .step-content > h3 {
        font-size: 1.1em;
    }
    #sieukhuyenmai .item > .col-md-4 {
        margin-top: 0px;
    }
    .promotion .promo-content li:last-child {
        line-height: 0.5 !important;
    }
    .price b{font-size: 30px;}
}

@media (max-width: 667px) {
    .guide {
        flex-wrap: wrap;
        justify-content: center;
    }
    .guide > .step-item { 
        width: 48%;
    }
    .guide > .step-item > .step-content-wrapper > .step-content > h3 {
        font-size: 1em;
    }
    .promotion .promo-title {
        width: 90% !important;
    }
    .promotion .promo-title .promo-label {
        width: 50% !important;
        padding: 0px;
    }

    #main-menu li a span {
      display: inline-block;
      word-break: unset;
    }
    #sieukhuyenmai .item > .col-md-4 {
        margin-bottom: 30px !important;
        margin-top: 0px;
        text-align: center;
    }
    #sieukhuyenmai .item > .col-md-4 > img { 
        width: 50%;
        margin: 0px auto 15% auto;
    }
    .price-wrapper {
        bottom: 0px !important;
    }

    #trainghiem .container {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .panel-footer {
      padding: 3px !important;
    }
    .award-wrapper .award-item {
        width: 50% !important;
    }
    .award-wrapper .award-item h3 {
        font-size: 1.3em;
    }

}

@media (max-width: 375px) {
    .guide {    
        flex-direction: column;
    }
    .guide > .step-item {
        width: 100%;
        border-width: 0px 0px 0.5px 0px;
        border-style: solid;
        border-color: #212121;
        margin-bottom: 20px;
    }
    .guide > .step-item > .step-content-wrapper > .step-content > p {
        padding: 0px 30px;
        padding-top: 0px;
    }
    #sieukhuyenmai .item > .col-md-4 > img { 
        width: 50%;
        margin: 0px auto;
    }

    .content-box.content-style-4 .item div .promoDetail {
      padding: 15px;
    } 

    .tab > ul.nav-tabs { position: initial !important;}
    .tab, .tab .tab-content { padding: 3px !important; }

    .congthucchitiet img { width: 60%;}
    .award-wrapper .award-item {width: 100% !important;}
    .promotion .promo-head { flex-direction: column !important; }
    .promotion .promo-head .promo-image { width: 100% !important; }
    .promotion .promo-title { display: none !important; }
    .promotion .promo-content li:last-child { line-height: 1.5 !important; }

    .promoDetail h1 {
      font-size: 20px !important;
    }
    .content-box.content-style-4 .item div .promoDetail h3, 
    .content-box.content-style-4 .item div .promoDetail h1 {
      margin-bottom: 0px;
    }
    .promoDetail .price {
      font-size: 20px !important;
    }
    .promoDetail p button {font-size: 18px;}
    .special-price {
      font-size: 27px !important;
      color: #d71149 !important;
    } 
    .promotion .promo-head .promo-image img {
      margin-top: -50px;
    }
    .congthucchitiet .video iframe {
      height: 200px;
    }
    .congthucchitiet img {
      width: 50%;
    }
}

/*
    Award Session Css
*/

.award-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.award-wrapper > .award-item {
    width: 33.3%;
    padding: 10px;
}
.award-wrapper > .award-item img {
    width: 70%;
    margin: 0px auto;
}

.award-wrapper > .award-item h3 {text-align: center;}
.award-wrapper > .award-item p {text-align: justify;}

@media (max-width: 375px) {
    .award-wrapper > .award-item {
        width: 50%;
        padding: 20px;
    }   
}

/*
    ** Slider **
 */

   /* Page */
    #slider {
        padding: 0px;
        /*margin-top: 40px;*/
    }
    .carousel-item > div {
        height: 650px;
        line-height: 500px;
        font-size: 1.5em;
        text-align: center;
        color: #fff;
        background-size: 100%;
    }

    .item-1 {
        background-image: url('/public/site/clickfunel/images/banner/serum-trang-da-sacngockhang-slider-1.jpg');
    }

    .item-2 {
        background-image: url('/public/site/clickfunel/images/banner/serum-trang-da-sacngockhang-slider-2.jpg');
    }

    .item-3 {
        background-image: url('/public/site/clickfunel/images/banner/serum-trang-da-sacngockhang-slider-2.jpg');
    }

    /* Carousel */

    .carousel {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .carousel-container {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
        width: 500%;
        transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
    }

    .carousel-item {
        position: relative;
        float: left;
        width: 20%;
    }

    /* Next / Prev Buttons */

    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        background-color: #222;
        opacity: 0.7;
        border-radius: 50%;
        color: #fff;
        font-size: 1em;
        cursor: pointer;
        width: 40px;
        height: 40px;
        line-height: 40px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: center;
        z-index: 10;
        transition: opacity 0.3s ease;
    }

    .carousel-prev {
        left: 2%;
        padding-right: 3px;
    }

    .carousel-prev::before {
        content: '\f053';
        font-family: "FontAwesome";
    }

    .carousel-next {
        right: 2%;
        padding-left: 3px;
    }

    .carousel-next::before {
        content: '\f054';
        font-family: "FontAwesome";
    }

    .carousel-prev:hover,
    .carousel-next:hover {
        opacity: 1;
    }

    /* Pagination */

    .carousel-pagination {
        list-style: none;
        position: absolute;
        bottom: 3%;
        left: 0;
        right: 0;
        width: 50%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        z-index: 10;
    }

    .carousel-bullet {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: #000;
        cursor: pointer;
        margin: 0 7px;
        border-radius: 50%;
        opacity: 0.5;
        transition-property: transform, opacity, background-color;
        transition-duration: 0.3s;
    }

    .carousel-bullet:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .carousel-bullet.active-bullet, 
    .carousel-bullet.active-bullet:hover {
        opacity: 1;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        background-color: #fff;
        cursor: default;
    }


/*
    ** Tabs **
 */
/* Tabs*/
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}

.tab {
padding-left: 20px;
padding-right: 20px;
border: 2px solid #7C4B1A;
border-radius: 10px;
position: relative;
}
.tab > ul.nav-tabs {
position: absolute;
top: -25px;
border: none;
    margin-bottom: 20px;
}
.tab .nav-tabs li a{
    padding: 8px 20px;
    margin-right: 5px;
    background: #fff !important;
    font-size: 18px;
    font-weight: 700;
    color: #7C4B1A;
    border: 2px solid #7C4B1A;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    /*transition: all 0.4s ease-in 0s;*/
}
.tab .nav-tabs li a:hover{
    color: #7C4B1A;
    background: linear-gradient(to right, #e6bc70 , #ffe3a4,  #e6bc70, #ffe3a4) !important;
    border: 2px solid #7C4B1A;
}
.tab .nav-tabs li.active a{
    color: #7C4B1A;
    background: linear-gradient(to right, #e6bc70 , #ffe3a4,  #e6bc70, #ffe3a4) !important;
    border: 2px solid #7C4B1A;
}
.tab .nav-tabs li a:before{
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    left: -50%;
    opacity: 0.3;
    z-index: -1;
    transform: scale(0);
    /*transition: all 0.4s ease-in 0.1s;*/
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before{
    /*opacity: 1;*/
    /*transform: scale(2);*/
}
.tab .tab-content{
    padding: 15px 20px;
    background: transparent;
    font-size: 15px;
    color: #595959;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
    /*border: 2px solid #7C4B1A;*/
    /*border-radius: 25px;*/
    /*outline: 5px solid #092c4f;*/
    outline-offset: 3px;
}
.tab .tab-content h3{
  font-size: 18px;
  margin-top: 2px;
  font-weight: 600;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .tab .nav-tabs li a:hover:before,
    .tab .nav-tabs li.active a:before{
        transform: scale(10);
    }
}

/*
    ** video **
 */
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .9s ease-in-out;
         -o-transition:      -o-transform .9s ease-in-out;
            transition:         transform .9s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
    
    
.carousel-control.rightar {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:    none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
 /* carousel */
.media-carousel 
{
  margin-bottom: 0;
  /*padding: 0 40px 30px 40px;*/
  /*margin-top: 30px;*/
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #a2ab58;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 50px
}

.media-carousel .carousel-control.leftar,
.media-carousel .carousel-control.rightar {
    height: 40px;
    width: 40px;
    margin-top: 12%;
}

.media-carousel .carousel-control.leftar 
{
    left: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 transparent;
    border: 4px solid transparent;
}

/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 transparent;
  border: 4px solid transparent;
  height: 120px;
  width : 120px;
  margin-top: 80px;
}


.media-carousel .carousel-control.rightar 
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 transparent;
    border: 4px solid transparent;
}


/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
  height: 100%;
}

/*carousel fade*/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}


.testimonial{
    background-color: transparent;
    color:#000;
}

.testimonial-heading{
    color:#000;
    text-align:center;
    text-decoration:none;
}





/* video player code here     */

        

.gal-container{
    padding: 12px;
}
.gal-item{
    overflow: hidden;
    padding: 3px;
}
.gal-item .box{
    height: 350px;
    overflow: hidden;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
}
.gal-item a:focus{
    outline: none;
}
.gal-item a:after{
    content:"\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
    opacity: 1;
}
.modal-open .gal-container .modal{
    background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
    padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
    outline: none;
}
.modal-open .gal-item button.close span{
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow:none;
}
.gal-container .modal-dialogue{
    width: 80%;
}
.gal-container .description{
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
}
.gal-container .description h4{
    margin:0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}
footer{
    font-family: 'Quicksand', sans-serif;
}
footer a,footer a:hover{
    color: #88C425;
}




/* video player code end */


.test-vid{
    width:100%;
    height:auto;
}


.panel-footer-txt > p{
    /*letter-spacing:10px;*/
    color:#734113;
    padding-top:5px;
    
}
.panel-footer{
    background: linear-gradient(to right, #e6bc70 , #ffe3a4, #e6bc70, #ffe3a4, #e6bc70) !important;
}
.panel-footer-txt > p:hover{
    color:#a2ab58;
}


.checked {
    color: orange;
}



/*
    * testimonical *
 */

 #carousel-review > .carousel-control.left,
 #carousel-review > .carousel-control.right {
    background-image: none;
 }
 .glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #E9C177;
 }

 .media-object.img-rounded {
    margin: 0px auto;
 }
 .caption p {
    margin-bottom: 5px;
    text-align: justify;
 }

  .caption .position {
    margin-bottom: -5px;
    text-align: center;
  }

 /*slick danh gia*/

  #danhgia { padding: 10px; }
  .slick-prev:before,
  .slick-next:before {
    color: #CB901F;
  }
 .slick {
    width: 100%;
 }
 .slick-item {
    padding: 10px;
 }

 .slick-item .thumbnail {
    border: 0 none;
    box-shadow: none;
    padding: 20px 10px 5px 10px;
    border-radius: 20px;
     margin: 0 10px;
 }
 .slick-item .thumbnail img {
    width: 35%;
 }
 .slick-item .thumbnail .caption {
    padding: 20px;
    text-align: center;
 }

.multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}
.multi-item-carousel .carousel-inner .next {
    left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none !important;
    }
}

@media (max-width: 480px) {
  .slick-item .thumbnail img {
    width: 35%;
  }
  .slick-item .thumbnail .caption {
    padding: 0px;
  }

  .media-carousel .carousel-indicators 
  {
    margin-right: 0px;
  }
  .btn-addCart {
    padding: 8px 10px;
  }
  a.btn.btn-primary.btn-lg {
     font-size: 15px !important; 
  }
}
/* top menu */
 .top-menu {
  margin-bottom: 0px;
  padding: 0px;
 }



